.header{
    padding: 30px 15px;
    background-color: red;
}

.header .logo{
    font-family: var(--fonteSecudaria);
    font-size: var(--fonteExtraGrande);
    border: 2px solid var(--corBranca);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 55px;
    text-decoration: underline;
    color: var(--corBranca);
    transition: 0.3s;
}

.header a:hover .logo{
    color: var(--corPrimaria);
    border: 2px solid var(--corPrimaria);
}

.header nav ul{
    display: flex;
    justify-content: space-between;
}

.header nav li a{
    text-transform: capitalize;
    color: var(--corBranca);
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 50px;
    letter-spacing: 1px;
    user-select: none;
    
}

.header nav ul li a:hover{
    background-color: var(--corPrimaria);
    color: var(--corBranca);
}

