@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-size: 62.5%;
    font-weight: 300;
    color: var(--corBranca);
    scroll-behavior: smooth;
}

body{
    font-family: var(--fontePrimaria);
    font-size: var(--fonteNormal);
    /* background: url(../img/bg-desktop.svg) no-repeat; */
    background-color: var(--corFundoEscuro);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-itens-center{
    align-items: center;
}

.social-media a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-media i:hover{
    color: var(--corPrimaria);
}

.social-media a i {
    line-height: 40px;
}

.outer-shadow{
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow{
    box-shadow:  inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section{
    padding: 7rem 0 7rem;
}

.section-title{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2{
    font-size: var(--fonteGigante);
    font-weight: 500;
    text-transform: uppercase;
}

.botao{
    font-size: var(--fonteGrande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--corPrimaria);
}

.botao:hover{
    background-color: var(--corSecundaria);
}

/* @media(max-width: 380px){
    body{
        background: url(../img/bg-mobile.svg) no-repeat;
        background-color: var(--corFundoEscuro);
    }
} */