:root{
    --corPrimaria: #4222d7;
    --corSecudaria: #311ab2;
    --corBranca: #fff; 
    --corFundoEscuro: #0d1e1e;
    --corAzulClaro: #3e2dac;
    --corAzulEscuro: #797979;
    --corCinzaClaro: #275b5b;

}

:root{
    --fontePrimaria: 'Ubuntu', sans-serif;
    --fonteSecudaria: 'Roboto', sans-serif;
    --fonteGigante: 4.5rem;
    --fonteExtraGrande: 3rem;
    --fonteGrande: 2.4rem;
    --fonteNormal: 1.6rem;
}

:root{
    --mobilePadding: 30px;
}