:root{
    --corPrimaria: #4f4f4f;
    --corSecudaria: #676767;
    --corBranca: #fff;
    --corFundoEscuro: #1d1d1d;
    --corAzulClaro: #3e2dac;
    --corAzulEscuro: #363636;
    --corCinzaClaro: #808080;

}

:root{
    --fontePrimaria: 'Ubuntu', sans-serif;
    --fonteSecudaria: 'Roboto', sans-serif;
    --fonteGigante: 4.5rem;
    --fonteExtraGrande: 3rem;
    --fonteGrande: 2.4rem;
    --fonteNormal: 1.6rem;
}

:root{
    --mobilePadding: 30px;
}